
.right {
	-fx-background-radius: 0 10 10 0;
}

.left {
	-fx-background-radius: 10 0 0 10;
}

.unique {
	-fx-background-radius: 10;
}

.center {
	-fx-background-radius: 0;
}

.filter-box {
	-fx-color: #b4dafa;
	-fx-background-color: -fx-body-color;
    -fx-padding: 0 0.624999em 0 0.624999em; /* 2 7,5 3 7,5 */ 
    
	-fx-border-width: 0 1 0 0; 
	-fx-border-color: #7E98AD;
}

.filter-box:disabled {
	-fx-color: #B1BDC6;
}

.filter-boxv:focused {
    -fx-color: #b4dafa;
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: -1.4, 0, 0.5, 1;
    -fx-background-radius:  6.4, 5, 4, 3;
}

.filter-box:hover {
	-fx-color: #D9EBF9;
}