

.month-label {
	-fx-background-color: transparent;
	-fx-font-size: 30;
	-fx-text-alignment: CENTER;
}

.month-label > .arrow-button > .arrow {
	visibility: false;
	-fx-padding: 0;
}

.month-label > .arrow-button {
	-fx-padding: 0;
    -fx-border-insets: 0;
}



